.text-center{
    color: cadetblue;
    
}
.bold{
    background-color: #FFFAFA;
    padding: 10px;
   text-align: center;
  
}

.notify-section{
    width: 35%;
    margin: 0 auto;
    display: none;
}